/* ---------- PAGE BACKGROUND ---------- */

html, body {
    min-height: 100vh;
    background-image:
        linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)),
        url("../images/background.png");
    background-size: cover;
    background-position: center;
    padding: 30px;
}

/* NAVBAR STYLING */
.custom-navbar {
    background: rgba(0, 0, 0, 0.55);     /* transparent dark */
    backdrop-filter: blur(10px);          /* glass effect */
    -webkit-backdrop-filter: blur(10px);  /* safari */
    border-bottom: 1px solid rgba(255,255,255,0.15);
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    color: white !important;
    font-weight: 500;
}

.custom-navbar .nav-link:hover {
    color: #ffd369 !important;
}




/* ---------- HEADER ---------- */

.page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}


.subtitle {
    color: #555;
    margin-bottom: 20px;
}

.title-icon {
    width: 60px;        /* change size here */
    height: auto;
    object-fit: contain;
}


/* ---------- IMAGE ---------- */

.ship-image {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


/* ---------- GLASS CARD ---------- */

.prediction-card,
.result-card {
    border-radius: 15px;
    background: rgba(255,255,255,0.9);
    backdrop-filter: blur(8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}




/* ---------- RESULT ---------- */

.result-text {
    font-size: 1.2rem;
    font-weight: 600;
}

.progress {
    height: 25px;
    border-radius: 10px;
}

.predict-btn{
    background: linear-gradient(90deg, #1ABC9C, #16A085);
    box-shadow: 0 6px 18px rgba(26,188,156,0.35);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}
.predict-btn:hover{
    filter: brightness(1.1);
    transform: translateY(-1px);
}

